
<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->
<ul class="nav nav-pills nav-justified">
    <li style="margin:1rem;" class="active"><a routerLink="/Principal">Sala de Juegos</a></li>
    <li style="margin:1rem;"><a (click)="todos()">Todos los resultados</a></li>
    <li style="margin:1rem;"><a (click)="ganadores()">Solo ganadores</a></li>
    <li style="margin:1rem;"><a (click)="perdedores()">Solo perdedores</a></li>
    
  </ul>
  
<app-listado-de-resultados [listado]="listaR"> </app-listado-de-resultados>

