<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>

 
    
 

<div style="text-align:left;background-image: url('./assets/imagenes/fondeando.jpg'); background-blend-mode: soft-light;">
  <h1 style="text-shadow: white 0.1rem 0.1rem; padding-inline-start: 2.2rem; margin-left: 1rem;font-style: initial; font-weight: bolder; color: rgb(250, 128, 14); background-color: black; border-radius: 3rem; max-width: 10rem;">
   Sala de Juegos
  </h1>
 </div>

 <router-outlet></router-outlet>

