.casilla {
    height: 5rem;
    margin: 0.5rem;
    font-size: 3rem;
}

.mat-button{
    height: 6rem;
    width: 30rem;
    font-size: 4rem;
    background-color: rgb(231, 31, 31);
    border-radius: 3rem;
    color: blanchedalmond;
}

button:hover {
    background-color: rgb(47, 3, 243);
    color: white;
    border-radius: 2rem;
    }

.fond{
    height: 50rem;
}

h1{
    font-size: 15rem;
}
