body{
    background-image:url('../../../assets/imagenes/games.jpg');
    background-blend-mode: hard-light;
}

div{
    
    border-radius: 6rem;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 2rem;
    background-color: rgb(252, 253, 175);
}

li{
    border: solid black 0.2rem;
    border-radius: 2rem;
}

.imagenDeMenu{
width: 8rem;
height: 7rem;
border: black solid 0.2rem;
border-radius: 3rem;
}

.hero-text {
    
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
    border-radius: 7rem;
    
    }

    p{
        font-family: sans-serif;
        margin-left: 2rem;
    }
    p:hover{
        font-family: sans-serif;
        margin-left: 2rem;
    }
    h2{
        font-size: 3rem;
        
        margin: 2rem;
    }