<app-cabecera>  </app-cabecera>



 <body>
<div class="container" >
   
    
        
           
                <div >
                    <div  class="hero-text">
                        <h1 style="font-size: 3rem ;position: relative; margin-top: 2rem;">Menú Principal</h1>
                    </div>
                 </div>
               
             
        
          <a routerLink="/Juegos">
            <div >
              <div >
                    <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu" >
              </div>
              <div >
                <h2 >Juegos</h2>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>
             
            </div> 
          </a>
       
            <a routerLink="/Listado">
              <div >
                  <div >
                      <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
                    </div>
                <div >
                  <h2 >Listados de resultados</h2>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
                
              </div> 
            </a>
         
          
       
          <a routerLink="/Jugadores">
            <div >
                <div >
                    <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu" >
                  </div>
              <div >
                <h2 >Jugadores</h2>
                <p>Listado de jugadores</p>
              </div>
             
            </div> 
          </a>
       
       
        
      
</div>
</body>