
form {
    border: 10px solid #070707;
    padding: 10px;
    background:rgb(238, 186, 90);
    height: 30.76rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    /*background-color: #4CAF50;*/
    color: rgb(5, 2, 2);
    padding: 14px 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: black solid 0.3rem;
    cursor: pointer;
    width: 60%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #dfaeaa;
}
.aceptbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(54, 244, 63);
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}




#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   background-color: orange;
   color: papayawhip;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.Ganador {
    background-color: rgb(20, 5, 159);
}
#snackbar.Perdedor {
    background-color: rgb(15, 14, 0);
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
p{
    font-family: sans-serif;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}