<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->


<form name="juego" style="margin-left: 3rem;">

   Primer número: <input placeholder="{{nuevoJuego.num1}}" type="text" class="form-control" style="width:50%" readonly/>
  
  
   Operador: <input placeholder="{{nuevoJuego.operador}}" type="text" class="form-control" style="width:50%" readonly/>
    
  
   Segundo número: <input placeholder="{{nuevoJuego.num2}}" type="text" class="form-control" style="width:50%" readonly/>
    
  
    Respuesta: <input [(ngModel)]="this.nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
     
  
    <h2 [hidden]="ocultarVerificar" style="margin-top:2rem"><button (click)="verificar()" class="btn btn-success btn-lg">{{Tiempo}} segundos</button></h2>
  
    <h2 ><button  style="margin-top:2rem" (click)="NuevoJuego()" [disabled]="!ocultarVerificar" class="btn btn-info btn-lg">Nuevo Número</button></h2>
  
    

    <h1 [hidden]="!nuevoJuego.gano">Usted acertó el número</h1>
    <h1 [hidden]="!perdio">Usted perdió. La respuesta era {{nuevoJuego.resultado}}.</h1>
  

</form>
<div>
  
</div>