.panel
{
    height: 20rem;
    background-image: url("/TP_LAV4_2017/assets/imagenes/cabecera.png");
    background-color: rgb(230, 165, 221);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
text-align: center;
position: relative;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
color: rgba(14, 4, 27, 0.89);
}

.hero-text a {
border: none;
outline: 0;

padding: 1rem 2.5rem;
color: black;
background-color: rgb(223, 215, 215);
text-align: center;

}

a:hover{
    color: white;
    background-color: rgb(129, 148, 20);
}

.hero-text a:hover {
background-color: rgb(129, 148, 20);
color: white;
}