<div style="background-image:url('./assets/imagenes/quedabien.jpg');background-size: 30%; background-repeat: repeat; background-blend-mode:normal; " class="panel panel-default">
  <div class="hero-text">
    <p style="font-size: 1rem; background-color: darkgrey; border-radius: 1.5rem; width: 13rem;">Luis Nahuel Fernandez</p>
      <h1 style="text-align: center; margin-left: 20%; width: 60%;height: 5rem; font-size:4rem; background-color: darkgrey; border-radius: 1.5rem; padding-top: 1rem;">Sala de Juegos</h1>
      
      <a style="margin-top: 2rem;" href="https://github.com/fernandezluisn"target="_blank">en GitHub <i style="margin-top: 2rem;"  class="fa fa-github"></i></a>
      <a  style="margin-top: 2rem;"  routerLink="/QuienSoy" >Quien Soy? <i style="margin-top: 2rem;" class="fa fa-user"></i></a>
  </div>
  <div style="font-style: oblique; right: 1rem; border-radius: 1rem; margin-top: 4.5rem;">
          <a routerLink="/Registro"><span ></span>Registrarse</a>
          <a  routerLink="/Login"><span ></span> Ingresar</a>
  </div>
</div>
