<div class="fond" style="text-align: center; margin-top: 2rem;">

  <h1 style="margin-bottom: 4rem;">{{anagrama}}</h1>

  <h2>Ingrese anagramas: </h2>
  <input [disabled]="verTiempo" type="text" [(ngModel)]="respuesta">
  <div>
    <button [hidden]="verTiempo" type="button" style="margin-top: 4rem;" (click)="Ingresar(respuesta)">Ingresar</button>
    <button  [hidden]="!verTiempo" (click)="reiniciar()">Reiniciar</button>
  </div>
  <h2 class="puntaje" [hidden]="verTiempo" >Tiempo Restante= {{Tiempo}} </h2>
  <h2 class="puntaje" [hidden]="!verTiempo" >Se acabó el tiempo. Su puntaje es {{contadorPuntos}} puntos.</h2>
</div>
